  .main_header{
      width: 100%;
      height: 110px;
      z-index: 101;
      background: rgb(114, 114, 172);
      font-size: 23px;
      font-family: cursive;
      text-align: center;
      margin-top: -8px;

  }

  .menup ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    }

    
.menup li{
  padding-top: 15px;
  padding-left: 30px;
  
  }

  .menu li a:hover{
    color: rgb(201, 166, 124);
    text-decoration: overline;
  }

  .menup li a{
    display: block;
    padding: 15px;
    text-decoration: rgb(201, 166, 124) ;
    color: seashell;

}

.contenido {

  background-color: rgb(190, 163, 163);
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 1px;
}

.IconoNeurol {
  
  background-image: url(../Imagenes/medicinafondo.jpg);
  background-attachment: fixed;
  background-size: 100% 100%; 

}

.contenido2 {
  display: inline-flex;
  background-color: rgb(201, 166, 124);

}